body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #121212 ;
}
#container{
    border: none;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #383838;
    padding: 20px;
    color: #32e5f1;
    text-shadow: 2px 2px 20px #adfaffe5;
    box-shadow: 5px 10px 15px rgba(129, 129, 129, 0.568);
    box-shadow: 5px 10px 15px rgba(99, 99, 99, 0.582);
    box-shadow: 5px 5px 20px hsla(0, 0%, 100%, 0.575);
}
#buttonContainer{
    min-width: 500px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center
}
#generateJoke{
    color: rgb(255, 93, 93);
    text-shadow: 2px 2px 10px #f57a7ae5;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 2.5rem;
    background-color: #383838;
    box-shadow: 5px 10px 15px hsla(0, 0%, 97%, 0.568);
    box-shadow: 5px 10px 15px hsla(0, 0%, 99%, 0.582);
    box-shadow: 5px 5px 20px hsla(0, 0%, 100%, 0.575);
    cursor: pointer;
    animation: glowing 2500ms infinite;
}
#generateJoke:hover{
    background-color: hsl(0, 0%, 31%);
    color: rgb(255, 61, 61);
    text-shadow: 2px 2px 10px #f86868;
    text-shadow: -2px -2px 10px #f86868;
}
@keyframes glowing{
    0% {
        color: rgb(255, 93, 93);
        text-shadow: 2px 2px 10px #f57a7ae5;
      }
      50% {
        color: rgb(255, 61, 61);
        background-color: hsl(0, 0%, 31%);
        text-shadow: 2px 2px 10px #f86868;
        text-shadow: -2px -2px 10px #f86868;
      }
      100% {
        color: rgb(255, 93, 93);
        text-shadow: 2px 2px 10px #f57a7ae5;
      }
    
}